version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - '3001:3001'
    networks:
      - nirdnet
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - '5173:80'
    depends_on:
      - backend
    networks:
      - nirdnet
    restart: unless-stopped

networks:
  nirdnet:
    driver: bridge
